/* 
#########################################

	Table of Contents
	
	1) Parent Elements
	2) Ryu Positions
	3) Hadouken Positions
  4) Logos
  5) Instructions for User  

#########################################
*/

/*---------- Parent Elements ----------*/

body
{
	background-color: black;
}

.main 
{
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

/*---------- Ryu Positions ----------*/

.ryu
{
  width: 659px;
  height: 494px;
  float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool
{
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool
{
  display: none;
} 

.ryu-ready 
{
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still 
{
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing 
{
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool
{
  background-image: url('../images/ryu-cool.gif');
}

.ryu-cool
{
  border: none;
  display: none;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool
{
  background-repeat: no-repeat;
}

/*---------- Hadouken Positions ----------*/

.hadouken 
{
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: absolute;
  z-index: 10;
  top: 165px;
  left: 699px;
  float: left;
}

/*---------- Logos ----------*/

/*.logos
{
  position: absolute;
  left: 700px;
  height: 425px;
  width: 600px;
  padding-top: 75px;
}

.street-fighter
{
  background-image: url('../images/street-fighter-logo.jpg');
  height: 500px;
  width: 600px;
  display: none;
}

.jquery
{
  background-image: url('../images/jquery-logo.png');
  height: 500px;
  width: 600px;
  display: none;
}*/

/*---------- Instructions for User ----------*/

.caption-text
{
  float: left;
  padding-left: 100px;
}

.one, .two, .three
{
  display: none;
  color: white;
}



















