body {
  background-color: black;
  

}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 75px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
  outline: red 2px solid;
}

.ryu {
	height: 659px;
	width: 494px;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url("../images/ryu-standing-still.png");
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.ryu-ready, .ryu-throwing, .ryu-still, .hadouken, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: absolute;
  z-index: 10;
  top: 167px;
  left: 520px;
  float: left;
}